.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .img-area {
    height: 600px;
    width: 600px;
    overflow: hidden;
    background-color: #fff;
    position: relative;
    border-radius: 50%;
    img {
      position: absolute;
      left: 0;
      right: 0;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}

.social-icons {
  display: flex;
  .item {
    background-color: #FFD700;
    color: #000;
    margin-right: 7px;
    padding: 10px;
    border-radius: 50%;
    transition: 0.3s all ease-in-out;
    &:hover {
      background-color: #32ff7e;
      color: #fff;
      transition: 0.3s all ease-in-out;
      box-shadow: 5px 5px 10px rgba(237, 24, 69, 0.1);
    }
  }
}

.hero-button {
  margin-top: 40px;
  max-width: 200px;

  a {
    margin: 0;
  }

  a.cv-down {
    padding: 12px 20px;
    border-radius: 5px;
    font-weight: 500;
    color: #000;
    cursor: pointer;
  }

  a.talk-btn {
    padding: 12px 20px;
    border-radius: 5px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
  }
}

@media (max-width: 1024px) {
  .forDis {
    display: none;
  }
}

@media (max-width: 645px) {
  .hero-buttons {
    display: block !important;
    gap: 5px !important;
  }
}
